@import "/src/scss/custom";

$width: 200px;

.TeamResult__container {
  position: relative;
}

.TeamResult__darkBox {
  width: $width;
  color: white !important;
}

.TeamResult__lightBox {
  width: $width;
  color: black !important;
  border-width: 1px !important;
  border-color: lightgray !important;
}

.TeamResult__driverNumber {
  font-size: large;
  line-height: normal;
}
