.IndividualResultsTable__loader {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.IndividualResultsTable__row {
  td {
    position: relative;
    top: 2px; // or whatever space you want between the thead th and tbody td
  }
}