@import "../../scss/custom";

.Spinner {
  border: 16px solid white;
  border-top: 16px solid $f1-red;
  border-bottom: 16px solid $f1-red;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
