@import "../../scss/custom";

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding-left: 20px;
  background-color: $f1-red;
}

.Navbar__button {
  display: inline-block;
  border: none;
  padding: 0.5rem 0rem;
  margin: 0;
  text-decoration: none;
  background: transparent;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.Navbar__title {
  font-size: 1.7rem;
  font-weight: 500;
  color: white;
  font-family: "TitilliumWeb-Bold";
  text-decoration: none;
}

.Navbar__list {
  list-style-type: none;
  display: flex;
  padding-left: 0;
}

.Navbar__option {
  cursor: pointer;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

.Navbar__itemText {
  font-size: 1.4rem;
  color: white;
  font-family: "TitilliumWeb-Regular";
  text-decoration: none;
}

@media (max-width: 768px) {
  .Navbar__title {
    font-size: 1.4rem;
  }

  .Navbar__itemText {
    font-size: 1.2rem;
  }
}

@media (max-width: 550px) {
  .Navbar__title {
    font-size: 1.25rem;
  }

  .Navbar__itemText {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .Navbar__title {
    font-size: 1rem;
  }

  .Navbar__itemText {
    font-size: 0.9rem;
  }
}

@media (max-width: 360px) {
  .Navbar__title {
    font-size: 0.9rem;
  }

  .Navbar__itemText {
    font-size: 0.8rem;
  }
}
