@import "../../scss/custom";

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding-left: 20px;
  background-color: $f1-red;
  font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Helvetica Neue",
    Arial, sans-serif;
}

.Navbar__title {
  font-size: 1.75rem;
  font-weight: 500;
  color: white;
}

.Navbar__list {
  list-style-type: none;
  display: flex;
}

.Navbar__option {
  cursor: pointer;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.Navbar--itemText {
  font-size: 1.4rem;
  color: white;
}
